.offer {
  min-height: 850px;
  padding: 200px 0;
  background: url("../img/offer/bg_offer-1920.jpg") center no-repeat;
  background-size: cover;
  &__block {
    max-width: 780px;
  }
  &__title {
    text-transform: uppercase;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 80px;
    &>span {
      color: #3E9CDC;
    }
  }
  &__descr {
    &-title {
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 10px;
    }
    &-lists {
      margin-bottom: 80px;
    }
    &-list {
      position: relative;
      font-size: 20px;
      padding-left: 26px;
      margin-bottom: 5px;
      &:before {
        content: '';
        position: absolute;
        top: 10px;
        left: 10px;
        width: 5px;
        height: 1.5px;
        background: #000;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
  &__btns {
    display: flex;
    align-items: center;
  }
  &__btn {
    width: 183px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding: 13px 15px;
    &-order {
      margin-right: 30px;
    }
  }
}


@media (max-width: 575.98px) {
  .offer {
    min-height: auto;
    padding: 205px 0 120px;
    &__title {
      font-size: 28px;
      line-height: 1.5;
      margin-bottom: 50px;
    }
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {
  .offer {
    padding: 210px 0 120px;
    min-height: auto;
    &__title {
      font-size: 38px;
      margin-bottom: 50px;
    }
  }
}
